<%  set_title("mongo的文档") %>
<%  set_layout("doc_layout.html") %>
<h3>mongo的文档</h3>
<ul>
    <li><a href="http://try.mongodb.org/">shell</a> </li>
    <li><a href="collection">collection</a> </li>
    <li><a href="find">find</a> </li>
    <li><a href="update">update</a> </li>
    <li><a href="save">save</a> </li>
    <li><a href="insert">insert</a> </li>
    <li><a href="user">user</a> </li>
    <li><a href="sql">sql</a> </li>
</ul>
<p>mongoDB处理安全的最好方式是在受信任的环境中运行服务器，并且保证连接到服务器的机器是受信任的。也就是说，mongoDB支持的是按连接的认证，这是一种粗粒度的权限模式。mongoDB实例中的每个数据库都可以有任意数量的自己的用户，在启用安全功能之后，只有认证用户能够对数据库执行读写操作。admin数据库是个特例，admin数据库里边的用户被视为超级用户，认证之后，admin的用户可以读写所有的数据库并且执行一些仅限于管理员的命令，如listDatabases，shutdown。
    在启用安全功能之前，admin里至少要添加一个用户。看下下边的例子，是从shell启动连接到服务器，并且没有启用安全功能。</p>
http://www.cnblogs.com/silentcross/archive/2011/08/29/2124152.html<br/>
http://www.cnblogs.com/silentcross/archive/2011/07/14/2106425.html<br/>
http://www.cnblogs.com/leo_wl/archive/2012/04/14/2446839.html