<%  set_title("collection.update") %>
<%  set_layout("doc_layout.html") %>
<h3>更新相关</h3>
<p>update方法</p>
<pre>
collection.update(criteria, update[, options[, callback]]);
</pre>
<p>它的第一参数是查询对象</p>
<p>它的第二参数是更新对象,包含$inc, $set,  $unset, $push, $pushAll, $pop, $pull等操作</p>
<p>它的第三参数是可选对象,包含safe, multi,upsert,raw等设置</p>
<p>它的第四参数是回调函数</p>
<p><span class="stress">替换</span>操作,如果第一个对象是查询对象,第二个对象是document,那么就被认为是替换.</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collection("users", function(err, users){
        //当update是替换操作时,即第个参数没有操作符,那么第三个可选对象即使集团了multi为true,它也每次替换一个
        users.update({
            user:"David"
        },{
            user:"xxx"
        },{
            safe:true
        }, function(err){
            users.find().toArray(function(e, items){
                console.log(items)
            })
        })
    })
});
</pre>
<p>当第二个参数存在$开头的操作符时,就可以对选定的文档进行局部的属性修正,其中</p>
<ul>
    <li> $inc是对数字属性进行增减操作</li>
    <li>$set是对指定属性进行替换</li>
    <li>$rename是对指定属性进行更名</li>
    <li>$是指向自身的</li>
    <li>$unset是对指定属性进行删除</li>
    <li>$$push $pushAll $addToSet $pop $pull $pullAll是对数组属性进行增删操作</li>
</ul>
</p>
<p><span class="stress">$inc</span>, 也就是increase的缩写，学过sql server 的同学应该很熟悉，比如我们做一个在线用户状态记录，
    每次修改会在原有的基础上自增$inc指定的值</p>
<p><span class="stress">$set</span>, 它的值是一个对象,里面要包含你要更新的键值。</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.insert([
            {
                name:"xxx",
                sex:1
            },

            {
                name:"xxx",
                sex:1
            },

            {
                name:"yyy",
                sex:1
            },

            {
                name:"yyy",
                sex:1
            }
        ],function(err, cursor){
            users.update({
                name:"xxx"
            },{
                $set:{
                    name:"jjj"
                }
            },function(err){//注意update语句的回调只有一个参数
                users.find().toArray(function(e, els){
                    els.forEach(function(el){
                        console.log(el)
                    });
                });
            })

        })
    })
})
</pre>
<br/>

<p>$unset,删除一个指定的属性,其值恒为1</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.update({
            array1:{$exists : true }
        },{//移除最后一个
            $unset:{
                array1: 1
            }
        },true,function(err){
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>
<p>$push操作</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
      //如果记录存在指定的数组属性,那么就为它添加进去,没有就创建这个属性,赋给它一个空数组再push进去
      //如果存在同名属性但不是数组就报错
        users.update({
            name:"jjj"
        },{
            $push:{
                array"hhh"
            }

        },true,function(err){//注意update语句的回调只有一个参数
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
      //如果记录存在指定的数组属性,那么就为它添加进去,没有就创建这个属性,赋给它一个空数组再push进去
      //如果存在同名属性但不是数组就报错
        users.update({
            name:"xxx"
        },{
            $push:{
                array1:1,
                array2:2
            }
        },true,function(err){//注意update语句的回调只有一个参数
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>
<p>$addToSet,行为类似我的语言模块的$.Array.ensure方法，只有当原来的数组属性不存在此元素才添加给定元素。</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.update({
            name:"xxx"
        },{
            $addToSet:{
                array1: 3
            }
        },true,function(err){
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>
<p>如果想添加多个元素到数组元素，并达到$addToSet的效果，可以结合$each操作符，即</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
{ $addToSet : { a : { $each : [ 3 , 5 , 6 ] } } }
</pre>
<br/>
<p>$pushAll,与$push差不多,不过要来值是一个数组,进行的是concat操作</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.update({
            name:"xxx"
        },{
            $push:{
                array1:[11,22,33]
            }
        },true,function(err){//注意update语句的回调只有一个参数
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>

<p>$pop操作,类似数组的pop操作,如果值大于或等于零时,删除最后一个元素,如果是-1,删除第一个元素</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.update({
            array1:{$exists : true }
        },{//移除第一个
            $pop:{
                array1: -1
            }
        },true,function(err){
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })

    })
})
</pre>
<p>$pull,用于删除数组属性指定的元素对象</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
{ $pull : { aaa: {bbb:"xxx"} } } 删除数组中有个属性bbb并且其为值为xxx的元素
{ $pull : { aaa : {$gt: 3} } } 删除数组中索引值大于3的元素
{ $pull : { aaa : {/*其他查询条件*/} } }
</pre>
<p>$pullAll,用于删除数组属性中的元素对象,它们只要满足过滤数组中某一个元素代表的匹配项就行了</p>
<p>$rename,将一个属性改名</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongo  = require('mongodb');
var db = new mongo.Db("northwind", new mongo.Server('localhost', 27017, {}), {});
db.open(function() {
    db.collection("users",function(err, users){
        users.update({
            array1:{$exists : true }
        },{
            $rename:{
                array1: "array4"
            }
        },true,function(err){
            users.find().toArray(function(e, els){
                els.forEach(function(el){
                    console.log(el)
                });
            });
        })
    })
})
</pre>
<p>$ 操作符$是他自己的意思，代表按条件找出的数组里面某项他自己。呵呵，比较坳口。看一下官方的例子：</p>
<pre class="brush:javascript;gutter:false;toolbar:false">

> t.find(){ "_id" : ObjectId("4b97e62bf1d8c7152c9ccb74"), "title" : "ABC",
"comments" : [ { "by" : "joe", "votes" : 3 }, { "by" : "jane", "votes" : 7 } ] }

> t.update( {'comments.by':'joe'}, {$inc:{'comments.$.votes':1}}, false, true )

> t.find(){ "_id" : ObjectId("4b97e62bf1d8c7152c9ccb74"), "title" : "ABC",
 "comments" : [ { "by" : "joe", "votes" : 4 }, { "by" : "jane", "votes" : 7 } ] }
</pre>
<fieldset><legend>可选对象</legend>
    <p>可选对象拥有以下可选的设置项:</p>
    <ul>
        <li>safe，只要数据库操作完成后才执行回调，因此有回调一定要指定它</li>
        <li>upsert，不存在就插入一个新文档</li>
        <li>multi，同时更新多个文档</li>
        <li>multi，回调返回的数据是二进制的Buffer</li>
    </ul>
</fieldset>
<br/>
<h3>findAndModify</h3>
<p>findAndModify的参数设置非常有技巧的，我们可以将源码晒一晒：</p>
<pre>
collection.findAndModify(criteria, sort, update[, options, callback])
</pre>
<pre class="brush:javascript;gutter:false;toolbar:false">
Collection.prototype.findAndModify = function findAndModify (query, sort, doc, options, callback) {
//首先第一个对象肯定是查询对象,不用动
  var args = Array.prototype.slice.call(arguments, 1);
 //最后一个参数肯定是回调，我们可以看到接着下来就立即判定是否有args.length，因此它最少有两个参数，查询对象与回调
  callback = args.pop();
//第二参数是排序相关的，是一个数组，如 [['_id','asc']]
  sort = args.length ? args.shift() : [];
//第二参数是更新相关的，是一个对象，如  {$set: {hi: 'there'}}
  doc = args.length ? args.shift() : null;
//第三参数也是以更新相关的，如$multi， new, remove, upsert等操作符
  options = args.length ? args.shift() : {};
  var self = this;

  var queryObject = {
      'findandmodify': this.collectionName
    , 'query': query
    , 'sort': utils.formattedOrderClause(sort)
  };

  queryObject.new = options.new ? 1 : 0;
  queryObject.remove = options.remove ? 1 : 0;
  queryObject.upsert = options.upsert ? 1 : 0;

  if (options.fields) {
    queryObject.fields = options.fields;
  }

  if (doc && !options.remove) {
    queryObject.update = doc;
  }//....
}
</pre>
<p>下面是一个完整的例子, 我们另起一个数据库,插入两条记录做小白鼠:</p>

collection.findAndModify(
{
hello: 'world'
}, // query
[['_id','asc']],  // sort order
{
$set: {
hi: 'there'
}
}, // replacement, replaces only the field "hi"

{}, // options
function(err, object) {
if (err){
console.warn(err.message);  // returns error if no matching object found
}else{
console.dir(object);
}
});
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});

new mongodb.Db('test', server, {}).open(function (error, client) {
    if (error) throw error;
    var collection = new mongodb.Collection(client, 'test_collection');
    collection.findAndModify(
    {
        hello: 'world'
    }, // 查询对象
    [['_id','asc']],  // 排序条件,是一个二维数组,每个子数组只有两个元素
    {
        $set: {//更新对象
            rrr: 'sss'
        }
    },//可选对象可以省去
    function(err, object) {//回调对象,第二个参数是更新前的文档，总为数组
        if (err){
            console.warn(err.message);
        }else{
            console.dir(object);
        }
    });
});
</pre>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collection("users", function(err, users){
        users.findAndModify({
            safe:true
        },[],{
            $unset:{safe:1}
        },
        {
            safe:true
        }, function(err, ee){
            console.log(ee)
            users.find().toArray(function(e, items){
                console.log(items)
            })
        })
    })
});
</pre>






http://www.mongodb.org/display/DOCS/Updating#Updating-%24unset
