
<!DOCTYPE HTML>
<html>
    <head>
        <title>首页</title>
        <%= add_js("/scripts/mass.js",{"@debug":1}) %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h2>测试data模块</h2>
        <script>
            $.require("ready,class,support,data", function(){
                console.log("============")
                var body = document.body;
                $.data( body,"test1",[1,2,3]);
                $.log($.data(body,"test1"))

            })

        </script>

    </body>
</html>
