
<!DOCTYPE HTML>
<html>
    <head>
        <title>首页</title>
        <%= add_js("/scripts/mass.js",{"debug":1}) %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="pragma"content="no-cache">
        <meta http-equiv="cache-control"content="no-cache,must-revalidate">   
        <meta http-equiv="expires"content="0">
    </head>
    <body>
        <h2>测试data模块</h2>
        <script id="aa">
            $.require("ready,class,support,node", function(){
               alert( $("#aa")[0].firstChild.nodeValue )
            })

        </script>

    </body>
</html>
