<%  block("title","这是测试用的") %>
<%  block("layout","sample.ejs") %>
<%=  add_js('/scripts/mass.js' );    %>
<script>
$.log("ssssssssssssss")
$.require("$ajax", function(){
   $.getJSON("/",function(data){
     $.log(data)
  })
 $.getJSON("/",function(data){
     $.log(data)
  })
})

</script>
<form action="/" method="post" enctype="multipart/form-data" >
    <input type="text" name="name" value="<%= @name || "" %>" />
           <input type="password" name="password" value="<%= @password || "" %>"  /><br/>
    <input type="checkbox" name="fruit" value ="apple" >苹果<br>
    <input type="checkbox" name="fruit" value ="orange">桔子<br>
    <input type="checkbox" name="fruit" value ="mango">芒果<br>
    <p>Image: <input type="file" name="test" /></p>
    <p>Image: <input type="file" name="imgs" /></p>
    <p><input type="submit" value="提交" /></p>
</form>