
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <%=  add_css('/styles/bootstrap.css' );  %>
        <%=  add_css('/styles/rubylouvre.css' );  %>
        <%=  add_js('/scripts/doc/shCore.js' ) ;   %>
        <script>

            window.SyntaxHighlighter && SyntaxHighlighter.all();
         
        </script>
        <%=  add_js('/scripts/doc/shBrushJScript.js' ) ;   %>
        <%=  add_js('/scripts/doc/shBrushCss.js' ) ;   %>
        <%=  add_js('/scripts/doc/shBrushXml.js' ) ;   %>

        <%=  add_css('/styles/doc/shCore.css' );  %>
        <%=  add_css('/styles/doc/shThemeRDark.css' );  %>

        <title>newland.js 易用易学、智能化、前后端一体化的网站构建JS框架</title>
    </head>


    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse">
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                    </a>

                    <a class="brand" href="/">newland</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">首页</a></li>
                            <li><a href="downloads.html">下载</a></li>
                            <li><a href="doc/index.html">文档</a></li>
                            <li><a href="tutorials.html">教程</a></li>
                            <li><a href="examples.html">文章</a></li>
                            <li><a href="docs.html">测试</a></li>
                            <li><a href="https://github.com/vert-x/vert.x">实验</a></li>
                            <li><a href="home/less.html">less</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="span12">
                    <div class="hero-unit" style="padding: 30px;">
                        <h1>newland.js</h1>
                        <p class="title">易用易学、智能化、前后端一体化的网站构建JS框架</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="span3">
                    <div class="well">
                        <h3 class="title">易学易用</h3>
                        <br/>
                        <p>采用jquery式的API处理DOM，使用MVVM机制进行最小化刷新，强大的语言模块屏蔽各种底部BUG，并提供琳琅满目的工具函数对字符串，数组，对象进行便捷操作</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <h3 class="title">前后端一体化</h3>
                        <br/>
                        <p>前后端都使用同种语言，同种模板系统，同样的模块加载器，精心设计的JS模块可以前后端通用，UI插件遵循相同的规格编写，知一晓十。</p>
                        <br/>
                    </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <h3 class="title">智能化</h3>
                        <br/>
                        <p>后端会根据第一请求，裁剪出最合适的前端框架mass核心库与bootstrap样式库与UI库，并根据后续请求进行更优的JS与CSS打包</p>
                        <br/>
                    </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <h3 class="title">易扩展</h3>
                        <br/>
                        <p>自由制定前端框架的命名空间，并支持多库共存，多版本共存，通过模块加载器不断加入新的模块来扩展自己！</p>
                        <br/><br/>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="span3">
                    <div class="well">
                        <h3 class="title">特性</h3>
                        <br/>
                        <ul>
                            <li>
                                <p><strong>多库共存</strong> </p>
                            </li>
                            <li>
                                <p><strong>多版本共存</strong></p>
                            </li>
                            <li>
                                <p><strong>模块化</strong>，即便是合并，也不用着复杂的build工具。</p>
                            </li>
                            <li>
                                <p><strong>模板机制</strong> 提供format，hereDoc，tag, ejs（v9） 这四种级别的字符串拼接方法（后两个是用于生成HTML代码片断）</p>
                            </li>
                            <li>
                                <p><strong>操作流</strong> ，一种比异步列队（Deferred）更为强大的处理异步的机制，避免回调套嵌，
                                    将串行等待变成并行等待,一处合并，多处触发。</p>
                            </li>
                            <li>
                                <p><strong>易于调试</strong>，$.log在后端带着色效果，在前端允许打印在页面（为IE6开小灶） </p>
                            </li>
                            <li>
                                <p><strong>强大的类工厂</strong> </p>
                            </li>
                            <li>
                                <p><strong>AS3式的补帧动画系统</strong>， 支持回放</p>
                            </li>
                            <li>
                                <p><strong>CSS3 transform2D支持</strong>， 您可以轻松旋转图片角度了</p>
                            </li>
                            <li>
                                <p><strong>第五代选择器引擎Icarus</strong>全面兼容CSS3高级伪类与jQuery自定义伪类的。</p>
                            </li>
                            <li>
                                <p><strong>丰富的工具函数</strong>,让你轻松处理字符串与数组!
                            </li>
                            <li>
                                <p><strong>优雅的配置</strong>当框架载入那一刻，决定您的命名空间与应用环境（是开发，测试还是生产）</a></p>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="span9">

                    <div class="row">
                        <div class="span9">

                            <div class="well">

                                <h3 class="title">前端mass.js模块体系统介绍</h3>
                                <br/>

                                <p>它的模块按其重要性与功用分为四大类，分别是</p>
                                <ol>
                                    <li>种子模块， mass.js，最精简的内核， 包含模块加载系统。</li>
                                    <li>补丁模块， lang_fix.js, css_fix.js, event_fix.js,主要是用于兼容旧式IE的，在chrome1+, FF4+, opera10+, safari4+是不会加载它们的。</li>
                                    <li>核心模块， 所有位于mass-Framework/src目录下，但不在其子目录下的JS文件， 提供框架的核心功能。</li>
                                    <li>外围模块， 位于mass-Framework/src/more的JS文件。</li>
                                </ol>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#ws_js" data-toggle="tab">JavaScript</a></li>
                                    <li><a href="#ws_ruby" data-toggle="tab">Ruby</a></li>
                                    <li><a href="#ws_python" data-toggle="tab">Python</a></li>
                                    <li><a href="#ws_groovy" data-toggle="tab">Groovy</a></li>
                                    <li><a href="#ws_java" data-toggle="tab">Java</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="ws_js">

                                        <p>Save the following in <code>server.js</code></p>
                                        <pre class="brush:javascript;gutter:false;toolbar:false">
 $.require("ready,event",function(){
        $(".doc_btn").each(function(){
            var btn =  $(this);
            var fn = Function( btn.prev("pre").text() );
            btn.bind("click", fn);
        });
        window.SyntaxHighlighter && SyntaxHighlighter.all();
    });
                                        </pre>
                                        <p>Run it with:</p>
                                        <p><code>vertx run server.js</code></p>

                                        <p><strong>Have lots of cores on your server and want to use them all?</strong></p>
                                        <p>Just spin up more instances:</p>
                                        <p><code>vertx run server.js -instances 32</code></p>
                                        <p>Vert.x will do the magic to ensure the requests are distributed amongst the instances:</p>


                                    </div>
                                    <div class="tab-pane" id="ws_ruby">

                                        <p>Save the following in <code>server.rb</code></p>
                                        <pre class="brush:javascript;gutter:false;toolbar:false">
    $('.add-on :checkbox').on('click', function () {
      var $this = $(this)
        , method = $this.attr('checked') ? 'addClass' : 'removeClass'
      $(this).parents('.add-on')[method]('active')
    })
                                        </pre>

                                        <p>Run it with:</p>
                                        <p><code>vertx run server.rb</code></p>

                                        <p><strong>Have lots of cores on your server and want to use them all?</strong></p>
                                        <p>Just spin up more instances:</p>
                                        <p><code>vertx run server.rb -instances 32</code></p>
                                        <p>Vert.x will do the magic to ensure the requests are distributed amongst the instances:</p>


                                    </div>
                                    <div class="tab-pane" id="ws_python">

                                        <p>Save the following in <code>server.py</code></p>
                                        <pre class="brush:javascript;gutter:false;toolbar:false">
    $('.add-on :checkbox').on('click', function () {
      var $this = $(this)
        , method = $this.attr('checked') ? 'addClass' : 'removeClass'
      $(this).parents('.add-on')[method]('active')
    })
                                        </pre>

                                        <p>Run it with:</p>
                                        <p><code>vertx run server.py</code></p>

                                        <p><strong>Have lots of cores on your server and want to use them all?</strong></p>
                                        <p>Just spin up more instances:</p>
                                        <p><code>vertx run server.py -instances 32</code></p>
                                        <p>Vert.x will do the magic to ensure the requests are distributed amongst the instances:</p>


                                    </div>
                                    <div class="tab-pane" id="ws_groovy">

                                        <p>Save the following in <code>Server.groovy</code></p>
                                        <pre class="brush:javascript;gutter:false;toolbar:false">
    $('.add-on :checkbox').on('click', function () {
      var $this = $(this)
        , method = $this.attr('checked') ? 'addClass' : 'removeClass'
      $(this).parents('.add-on')[method]('active')
    })
                                        </pre>

                                        <p>Run it with:</p>
                                        <p><code>vertx run Server.groovy</code></p>

                                        <p><strong>Have lots of cores on your server and want to use them all?</strong></p>
                                        <p>Just spin up more instances:</p>
                                        <p><code>vertx run Server.groovy -instances 32</code></p>
                                        <p>Vert.x will do the magic to ensure the requests are distributed amongst the instances:</p>


                                    </div>
                                    <div class="tab-pane" id="ws_java">
                                        <p>Save the following in <code>Server.java</code></p>
                                        <pre class="brush:javascript;gutter:false;toolbar:false">
    $('.add-on :checkbox').on('click', function () {
      var $this = $(this)
        , method = $this.attr('checked') ? 'addClass' : 'removeClass'
      $(this).parents('.add-on')[method]('active')
    })
                                        </pre>

                                        <p>Run it with:</p>
                                        <p><code>vertx run Server.java</code></p>

                                        <p><strong>Have lots of cores on your server and want to use them all?</strong></p>
                                        <p>Just spin up more instances:</p>
                                        <p><code>vertx run Server.java -instances 32</code></p>
                                        <p>Vert.x will do the magic to ensure the requests are distributed amongst the instances:</p>



                                    </div>
                                </div>

                            </div>

                            <div class="well">
                                <p>OK, that's pretty cool, but it's just a Hello World.</p>
                                <p>For something more substantial take a look at the <a href="tutorials.html">tutorials</a></p>.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>