
<!DOCTYPE HTML>
<html>
    <head>
        <title>首页</title>
        <%= add_js("/scripts/mass.js",{"debug":1}) %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="pragma"content="no-cache">
        <meta http-equiv="cache-control"content="no-cache,must-revalidate">
        <meta http-equiv="expires"content="0">
        <%=  add_css('/styles/bootstrap.css' );  %>
        <%=  add_js('/scripts/mass.js' );  %>
        <style>

        </style>
        <script>
            $.require("ready,more/tab",function(){
                console.log("dddddddd")
            })
        </script>
    </head>
    <body>
        <h2>测试menu模块</h2>
        <ul class="nav nav-tabs">
            <li><a href="#home" data-toggle="tab">首页</a></li>
            <li><a href="#profile" data-toggle="tab">介绍</a></li>
            <li><a href="#messages" data-toggle="tab">消息</a></li>
            <li><a href="#settings" data-toggle="tab">设置</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">.1..</div>
            <div class="tab-pane" id="profile">.2..</div>
            <div class="tab-pane" id="messages">.3..</div>
            <div class="tab-pane" id="settings">.4..</div>
        </div>
    </body>
</html>
