<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title><%= @title %></title>
        <%= add_js('/scripts/mass_merge.js' );    %>
        <%=  add_js('/scripts/doc/common.js' );    %>
        <%=  add_js('/scripts/doc/shCore.js' ) ;   %>
        <%=  add_js('/scripts/doc/shBrushJScript.js' ) ;   %>
        <%=  add_js('/scripts/doc/shBrushCss.js' ) ;   %>
        <%=  add_js('/scripts/doc/shBrushXml.js' ) ;   %>
        <%=  add_css('/styles/doc/common.css' );  %>
        <%=  add_css('/styles/doc/shCore.css' );  %>
        <%=  add_css('/styles/doc/shThemeRDark.css' );  %>

        <% for(var i = 0; js =  @scripts[i++]; ){ %>
        <%= js %>
        <% } %>
        <% for(var i = 0; css =  @links[i++]; ){ %>
        <%= css %>
        <% } %>

    </head>
    <body>
    <article>
        <%= @partial %>
    </article>
</body>
</html>