<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title><%= @title %></title>
        <%=   add_js('/scripts/mass_merge.js' );    %>
        <%=   add_js('/scripts/doc/common.js' );    %>
        <%=   add_js('/scripts/doc/suggest.js' ) ;   %>

        <% for(var i = 0; js =  @scripts[i++]; ){ %>
        <%= js %>
        <% } %>
        <% for(var i = 0; css =  @links[i++]; ){ %>
        <%= css %>
        <% } %>

    </head>
    <body>
    <article>
        <%= @partial %>
    </article>
</body>
</html>