
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link href="bootstrap/bootstrap.css" type="text/css" rel="stylesheet"/>
        <%=  add_css('/styles/bootstrap.css' );  %>
        <%=  add_css('/styles/rubylouvre.css' );  %>
        <%=  add_js('/scripts/hiless.js' ) ;   %>
        <%=  add_css('/styles/main.css' ) ;   %>

        <script>
            window.onload = function(){
                window.SyntaxHighlighter && SyntaxHighlighter.all();
            }

        </script>
        <title>newland.js 易用易学、智能化、前后端一体化的网站构建JS框架</title>
    </head>


    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse">
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                    </a>

                    <a class="brand" href="/">newland</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">首页</a></li>
                            <li><a href="downloads.html">下载</a></li>
                            <li><a href="install.html">文档</a></li>
                            <li><a href="tutorials.html">教程</a></li>
                            <li><a href="examples.html">文章</a></li>
                            <li><a href="docs.html">测试</a></li>
                            <li><a href="https://github.com/vert-x/vert.x">实验</a></li>
                            <li><a href="https://github.com/vert-x/vert.x">less</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <%= @partial %>
        </div>


    </body>
</html>