<%  set_title("集合") %>
<%  set_layout("doc_layout.xhtml") %>
<h3>集合</h3>
<p>集合对象是数据库的下级单位,一个数据库由多个集合组成。集合相当于传统数据库中的表,而集合中的文档相当于表中的记录!</p>
<h4> 创建一个集合</h4>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
   db.createCollection("eee",function(err,collection){
       console.log(err);
       console.log(collection)//这是集合对象
   })
});

</pre>
<p>列举当前数据库所有集合的名字</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collectionNames(function(err,names){
        console.log(names)
    })
});
/*
[ { name: 'test.cats' },
  { name: 'test.system.indexes' },
  { name: 'test.test_collection' },
  { name: 'test.users' } ]
*/
</pre>
<p>列举当前数据库所有集合</p>
<pre class="brush:javascript;gutter:false;toolbar:false">

var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collections(function(err,collections){
        console.log(collections)
    })
});
</pre>
<p>打开一个集合进行操作,如果指定集合不存在创建一个新的</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
db.collection([[name[, options]], callback);
</pre>
<p>为一个集合改名</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
//方式一:collection.rename(new_name, callback);
//方式二:db.renameCollection(oldname,newname,callback)

var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
   db.renameCollection("cats","dogs",function(err,collection){
       console.log(err);
       console.log(collection)//这是集合对象
   })
});

</pre>
<p>删除一个集合</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
//方式一:collection.drop( callback);
//方式二:db.dropCollection(name,callback)

var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
   db.dropCollection("eee",function(err,ok){
       console.log(err);
       console.log(ok)//删除成功就返回true,否则为false
   })
});

</pre>
<p>取得一个集合的信息</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
   db.indexInformation("eee",function(err,object){
       console.log(err);
       console.log(object);
   })
});
</pre>
<p>取得这个集合中某些元素的某个属性对应的值,并将这些值去重</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collection("dogs",function(err,dogs){
            dogs.distinct("id",{
                "id" : {
                    "$exists" : true
                    }
            },function(e,values){
                console.log(e);
                //返回匹配文档中所有id值,并进行去重
                console.log(values)
            })

    })
});

</pre>


<p> 当然集合还有insert, find, save, update, remove, distinct, count, findAndModify, findAndRemove,
    createIndex, ensureIndex, indexInformation, dropIndex, dropIndexes, reIndex, mapReduce,group, stats等方法</p>