<%  set_title("MongoDB数据文件内部结构") %>
<%  set_layout("doc_layout.html") %>
<h3>MongoDB数据文件内部结构</h3>
<p>有人在Quora上提问：<span class='wp_keywordlink_affiliate'><a href="http://blog.nosqlfan.com/tags/mongodb" title="查看 MongoDB 的全部文章" target="_blank">MongoDB</a></span><span class='wp_keywordlink_affiliate'><a href="http://blog.nosqlfan.com/tags/%e6%95%b0%e6%8d%ae%e6%96%87%e4%bb%b6" title="查看 数据文件 的全部文章" target="_blank">数据文件</a></span>内部的组织<span class='wp_keywordlink_affiliate'><a href="http://blog.nosqlfan.com/tags/%e7%bb%93%e6%9e%84" title="查看 结构 的全部文章" target="_blank">结构</a></span>是什么样的。随后10gen的工程师<a href="http://jaredrosoff.com/" target="_blank">Jared Rosoff</a>出来做了简短的回答。</p>
<p>每一个数据库都有自己独立的文件。如果你开启了directoryperdb选项，那你每个库的文件会单独放在一个文件夹里。</p>
<p>数据库文件在内部会被切分成单个的块，每个块只保存一个名字空间的数据。在MongoDB中，名字空间用于区分不同的存储类别。比如每个collection有一个独立的名字空间，每个索引也有自己的名字空间。</p>
<p>在一个块中，会保存多条记录，每条记录是BSON格式的，记录与记录之间通过双向链表进行连接。</p>
<p>索引数据也存在数据文件中，不过索引是被组织成B Tree结构，而不是双向链表。</p>
<p>对每个数据库，有一个命名空间文件，用于保存每个名字空间对应的元数据。我们通过查询这些元数据来找到对应的名字空间的存储块位置。</p>
<p>如果你开启了jorunaling日志，那么还会有一些文件存储着你所有的操作记录。</p>
<p>下面图片摘自10gen工程师Mathias Stearn在MongoSV2011大会上的发言稿，手绘的数据文件结构。</p>
<h4>1.每个数据库有相应的数据文件和命名空间文件</h4>
<p><img src="/images/mongo/inner/preview_slide_1.jpg" alt="preview_slide_1" /></p>
<h4>2.数据文件从16MB开始，新的数据文件比上一个文件大一倍，最大为2GB</h4>
<p><img src="/images/mongo/inner/preview_slide_2.jpg" alt="preview_slide_2" /></p>
<h4>3.文件使用MMAP进行内存映射，会将所有数据文件映射到内存中，但是只是虚拟内存，只有访问到这块数据时才会交换到物理内存。</h4>
<p><img src="/images/mongo/inner/preview_slide_3.jpg" alt="preview_slide_3" /></p>
<p><img src="/images/mongo/inner/preview_slide_4.jpg" alt="preview_slide_4" /></p>
<h4>4.MongoDB的数据文件映射到内存表中的位置</h4>
<p><img src="/images/mongo/inner/preview_slide_5.jpg" alt="preview_slide_5" /></p>
<p><img src="/images/mongo/inner/preview_slide_6.jpg" alt="preview_slide_6" /></p>
<h4>5.使用32位机器的话，内存地址最大可以标识4GB内存</h4>
<p><img src="/images/mongo/inner/preview_slide_7.jpg" alt="preview_slide_7" /></p>
<p><img src="/images/mongo/inner/preview_slide_8.jpg" alt="preview_slide_8" /></p>
<h4>6.但是在32位机器上，4GB内存会有1GB被内核战用，大约0.5GB会用于mongod进程的stack空间，只剩下大约2.5GB可用于映射数据文件。</h4>
<p><img src="/images/mongo/inner/preview_slide_9.jpg" alt="preview_slide_9" /></p>
<p><img src="/images/mongo/inner/preview_slide_10.jpg" alt="preview_slide_10" /></p>
<p><img src="/images/mongo/inner/preview_slide_11.jpg" alt="preview_slide_11" /></p>
<h4>7.在64位机器上则最多可以表示128TB的空间</h4>
<p><img src="/images/mongo/inner/preview_slide_12.jpg" alt="preview_slide_12" /></p>
<p><img src="/images/mongo/inner/preview_slide_13.jpg" alt="preview_slide_13" /></p>
<p><img src="/images/mongo/inner/preview_slide_14.jpg" alt="preview_slide_14" /></p>
<h4>8.每个数据文件会被分成一个一个的数据块，块与块之间用双向链表连接</h4>
<p><img src="/images/mongo/inner/preview_slide_15.jpg" alt="preview_slide_15" /></p>
<p><img src="/images/mongo/inner/preview_slide_16.jpg" alt="preview_slide_16" /></p>
<h4>9.在名字空间文件中，保存的是一个hash table，保存了每个名字空间的存储信息元数据，包括其大小，块数，第一块位置，最后一块位置，被删除的块的链表以及索引信息</h4>
<p><img src="/images/mongo/inner/preview_slide_17.jpg" alt="preview_slide_17" /></p>
<p><img src="/images/mongo/inner/preview_slide_18.jpg" alt="preview_slide_18" /></p>
<h4>10.这些位置通过DiskLoc数据结构进行存储，存储了数据文件编号和块在文件中的位置</h4>
<p><img src="/images/mongo/inner/preview_slide_19.jpg" alt="preview_slide_19" /></p>
<p><img src="/images/mongo/inner/preview_slide_20.jpg" alt="preview_slide_20" /></p>
<p><img src="/images/mongo/inner/preview_slide_21.jpg" alt="preview_slide_21" /></p>
<p><img src="/images/mongo/inner/preview_slide_22.jpg" alt="preview_slide_22" /></p>
<h4>11.对每一个块来说，其头部包含了一些块的元数据，比如自己的位置，上一个和下一个块的位置以及块中第一条和最后一条记录的位置指针。剩下的部分用于存储具体的数据，具体数据之间也是通过双向链接来进行连接。</h4>
<p><img src="/images/mongo/inner/preview_slide_23.jpg" alt="preview_slide_23" /></p>
<p><img src="/images/mongo/inner/preview_slide_24.jpg" alt="preview_slide_24" /></p>
<p><img src="/images/mongo/inner/preview_slide_25.jpg" alt="preview_slide_25" /></p>
<h4>12.下面是B Tree的存储结构和工作原理</h4>
<p><img src="/images/mongo/inner/preview_slide_26.jpg" alt="preview_slide_26" /></p>
<p><img src="/images/mongo/inner/preview_slide_27.jpg" alt="preview_slide_27" /></p>
<p><img src="/images/mongo/inner/preview_slide_28.jpg" alt="preview_slide_28" /></p>
<p><img src="/images/mongo/inner/preview_slide_29.jpg" alt="preview_slide_29" /></p>
<p><img src="/images/mongo/inner/preview_slide_30.jpg" alt="preview_slide_30" /></p>
<p><img src="/images/mongo/inner/preview_slide_31.jpg" alt="preview_slide_31" /></p>
<p><img src="/images/mongo/inner/preview_slide_32.jpg" alt="preview_slide_32" /></p>
<p><img src="/images/mongo/inner/preview_slide_33.jpg" alt="preview_slide_33" /></p>
<p><img src="/images/mongo/inner/preview_slide_34.jpg" alt="preview_slide_34" />