<%  set_title("collection.insert") %>
<%  set_layout("doc_layout.html") %>
<h3>插入相关</h3>
<p>格式如下:</p>
<pre>
collection.insert(docs[, options, callback])
</pre>
<p><span class="stress">参数：</span></p>
<dl>
    <dt>docs</dt>
    <dd>
        当个文档或多个文档组成的对象数组
    </dd>
    <dt>options</dt>
    <dd>
        可选对象，里面有个safe属性，用于决定回调的执行时机，如果为false，那么回调是同步的，立即执行，这时数据库
        操作可能还没有完成，如果为true，则它会待到数据库操作执行完毕才调用,为了安全起见，最好设为true。
    </dd>
    <dt>callback</dt>
    <dd>
       回调，第二个参数为刚才的插入文档，不过它都会打包成一个数组
    </dd>
</dl>
<hr/>

<pre class="brush:javascript;gutter:false;toolbar:false">
//by 司徒正美
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collection("users", function(err, users){
        var records  = [{
            hello:"world"
        },{
            name:"aaa",
            sex: 2
        },{
            name:"aaa",
            sex: 2
        }]
        users.insert(records,{safe:true},function(e, data){//data恒为数组
            console.log(data)
            console.log(data == records)//true
        })
    })

});
</pre>
<p>insert的回调在第二个参数设为safe为true的情况下,第二个参数为刚才插入的数据,不过保证是数组</p>
<p>注意不能插入_id相同的记录</p>
<pre class="brush:javascript;gutter:false;toolbar:false">

var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('test', server, {}).open(function (error, db) {
    db.collection("users", function(err, users){
        users.insert({
            _id:1
        }, {
            safe:true
        }, function(err, doc){
            console.log(err)
            users.insert({
                _id:1
            }, {
                safe:true
            }, function(err, doc){
                console.log(err)//报错
            });
        });
    })
});
</pre>
