<%  set_title("删除相关") %>
<%  set_layout("doc_layout.html") %>
<h3>删除相关</h3>
<pre>
collection.remove([[query[, options]], callback]);
</pre>
<p>callback的第二个参数为被移除的文档组成的数组</p>
<p>我们先插入一些小白鼠：</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('userdb', server, {}).open(function (error, db) {
    db.collection("users",function(err,users){
        users.insert([
        {
            a:1
        },{
            a:2
        },{
            a:3
        },{
            a:4
        },{
            a:5
        },{
            a:6
        },{
            a:7
        }],{
            safe:true
        },function(e,docs){
            console.log(docs)
        })
    })
});

</pre>
<p>值得注意的是，findAndModify与findAndRemove每次只能处理一条记录，即便你加了multi属性也不行。</p>
<p>要使用collection.remove才可以批处理，不过回调的参数有点恶心。没有错时第一个参数为null,同时第二数为0。
    如果有错时，第一个参数为错误对象，第二个参数不存在。</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('userdb', server, {}).open(function (error, db) {
    db.collection("users", function(err, users){
       users.remove({a:7},{safe:true}, function(err, err_num){
               console.log(docs)
       })
    })
});
</pre>
<br/>
<pre class="brush:javascript;gutter:false;toolbar:false">
var mongodb = require('mongodb'),
server = new mongodb.Server("127.0.0.1", 27017, {});
new mongodb.Db('userdb', server, {}).open(function (error, db) {
    db.collection("users",function(err,users){
        users.remove ({
            a:{
                $lt : 6
            }
        },{
            safe:true
        },function(e){
             users.find().toArray(function(e, els){
                  console.log(els)
             })//看还剩下多少个
        })
    })
});

</pre>