<%  set_title("newland的文档") %>
<%  set_layout("doc_layout.html") %>
<h2>newland的文档</h2>
<h3>配置相关</h3>
<p>它位于app/config.js文件中</p>
<h3>路由相关</h3>
<p>所有路由规则都定义在app/routes.js文件中</p>
<p>基础语法</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
mapper.add(method, pathname, controller+"#"+action)
</pre>
<ul>
    <li>method，是指GET，POST，PUT，DELETE这四种请求类型</li>
    <li>pathname，是指请求URL中去掉host,port,hash,query的部分,亦即req.url,它是以\隔开,如果是可选的请用小括号括起,
        如果该值要放到参数对象中,请加:前缀.</li>
    <li>controller+"#"+action,就是控制器的名字加action的名字</li>
</ul>
<pre class="brush:javascript;gutter:false;toolbar:false">
    mapper.add("GET","/","home#index")
    mapper.add("GET","/about","home#about")
    mapper.add("GET","/:yyyy/:mm/:dd","blog#page")  //flow.params => {yyyy:2012,mm:09, dd:02}
    mapper.add("GET","doc/:modules(/:method)","doc#index") //flow.params => {modules:"flow",method:"append"}
</pre>
<p>它的一种变种,方法路由,就是省略最前面的参数</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
        mapper.get("/mongo/(:method)","mongo#index")
        mapper.get("/tabs","home#tabs")
        mapper.get("/newland","newland#index")
        map.post('/add_comment','site#add_comment');
</pre>
<p>资源路由,一个路由规则对应七种规则的路径</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
 map.resources('users');
 //它相当于以下七条规则
 mapper.add( "GET",     "/users(.:format)",         "users#inex")
 mapper.add( "GET",     "/users/new(.:format)",     "users#new")
 mapper.add("POST",     "/users(.:format)",         "users#create")
 mapper.add( "GET",     "/users/:id(.:format)",     "users#show")
 mapper.add( "GET",     "/users/:id/edit(.:format)","users#edit")
 mapper.add( "PUT",     "/users/:id(.:format)",     "users#update")
 mapper.add("DELETE",   "/users/:id(.:format)",     "users#destroy")

</pre>
<p>如果不想生成这么多,我们还可以对资源路由进行制定</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
//这样就只生成index,show两条规则
map.resources('users', {only: ['index', 'show']})
//这样就生成除create,destroy外的五条规则
map.resources('users', {except: ['create', 'destroy']});
</pre>
<h3>日志相关</h3>
<p>这涉及到打印到控制台与指定文件中，全部由$.log方法包揽。</p>
<p>如果没有加载logger服务，它是不会打印到指定文件中，但即使这样$.log还是强得逆天。</p>
<p>$.log的语法，除了第一个参数，其他参数都是可选，并且位置是不固定的。</p>
<pre>
$.log(obj,[ color, formatArray,timestamp, level ] )
</pre>
<ul>
    <li>obj <strong>任意类型</strong> 如果要打印到后台，它会调用util模块的inspect方法进行转换</li>
    <li>style <strong>String</strong> 用于打印在控制台，能看到五颜六色与下划斜体等风格，必须是<br/>
        <code> bold,italic,underline,inverse,white,grey,black,cyan,green,magentea,yellow,blue</code>中的一个
    </li>
    <li>timestamp <strong>String</strong> 就是"timestamp"这个单词，如果存在，则会在输出内容之前加个年月日与时间作前缀</li>
    <li>formatArray <strong>Array</strong>util.format的参数列表。我们可以在第一个参数使用%j, %s, %d等占位符，然后传这个数组填空它。</li>
    <li>level <strong>Number</strong>，通过它来过滤显示到控制台的日志数量。0为最少，只显示最致命的错误，7则连普通的调试消息也打印出来。
        显示算法为 level <= $.log.level。这个$.log.level默认为9。下面是level各代表的含义。
    </li>
</ul>
<fieldset><legend></legend>
    <ul>
        <li>0 <strong>EMERGENCY</strong> system is unusable</li>
        <li>1 <strong>ALERT</strong> action must be taken immediately</li>
        <li>2 <strong>CRITICAL</strong> the system is in critical condition</li>
        <li>3 <strong>ERROR</strong> error condition</li>
        <li>4 <strong>WARNING</strong> warning condition</li>
        <li>5 <strong>NOTICE</strong> a normal but significant condition</li>
        <li>6 <strong>INFO</strong> a purely informational message</li>
        <li>7 <strong>DEBUG</strong> messages to debug an application</li>
    </ul>
</fieldset>

<p>如果要打印到文件中,我们需要system/more/logger.js这个模块,里面$.logger方法有两个参数,level与url,level即为$.log.level,url可以到app/config.js文件中配置</p>
<pre>
     logfile: $.path.join( process.cwd(),"/log/master.log"),
</pre>
<p>使用示例:</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
$.log("这是带日期显示的","timestamp",5)//只有当$.log.level >= 5才会在控制台显示此信息
</pre>
<h3>操作流</h3>
<p>newland.js中用的操作流是mass Framework中的子类，增强版，可以说是整个架构的核心。</p>
<p>它的相关属性与方法</p>
<ul>
    <li>req：就是ClientRequest的实例，将http.createServer的回调的第一参数绑在其上</li>
    <li>res：就是ServerResponse的实例，将http.createServer的回调的第二参数绑在其上</li>
    <li>url：就是req.url</li>
    <li>pathname：就是req.url去掉hash与query的部分，req.url.replace(/[?#].*/, '')</li>
    <li>params，就是路由规则中指定的pathname部分加query部分组成的对象</li>
    <li>store，此对象只有该URL能进入action才存在，用于action间的通信</li>
    <li>cookies，此对象只有该URL能进入action才存在，它将请求中的cookies首部解释成一个对象方便用户获取。</li>
    <li>session，此对象只有该URL能进入action才存在，用于action间的通信，它基于store与cookies</li>
    <li>flash，Function，一个用于保存上次请求需要发送到下一个页面的提示（警告或错误）信息，基于session</li>
    <li>mime，用于获取请求资源的类型，返回像"html","js", "css", "gif"等字符串，如果URL是动态的，随参数的情况返回页面或图片什么的，
        则返回"*"，表示不确定。</li>
    <li>xhr，判定是否AJAX请求。</li>
    <li>addCookie，Function，添加一个cookie到客户端</li>
    <li>removeCookie，Function，删除客户端一个或多个cookie</li>
</ul>
<h3>cookie相关</h3>
<p>查看cookie</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
$.log( flow.cookies ) //{ __atuvc: '2|25', myCookie: 'xxxxxxxxxx', newCookie: 'ddd', user 'yyy' }
</pre>
<p>命名空间路由,这意味着controller所在的目录外还多一个目录</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
 map.namespace("tests",function(tests){
     tests.resources('comments');
 });
</pre>
<p>套嵌路由</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
 map.resources('posts', function (post) {
       post.resources('users')
 });
</pre>
<p>添加cookie</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
//格式：flow.addCookie(name, val, opts)
 flow.addCookie("ACookie","xxxxxxxxxx");
 flow.addCookie("BCookie","yyyyyyyyy");
 flow.addCookie('rememberme', 'yes', { expires: 0, httpOnly: true })

 //链式写法，同名cookie前者会覆盖后者的，前端只生成“aaa=2; bbb=1”
 flow.addCookie("aaa",1).addCookie("aaa",2).addCookie("bbb",1).addCookie("bbb",1)
 flow.res.setHeader("Set-Cookie","user=aaa")

</pre>
<p>删除cookie,会让客户端存在的同名cookie立即过期</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
flow.removeCookie("oldCookie")
//传入一个字符串数组，同时删除多个cookie
flow.removeCookie(["myCookie","uuer","newCookie"])
</pre>

<h3>session相关</h3>
<p>newland.js暂时提供三种sesson，基于内存的，基于cookie的，基于mongo数据库的。</p>
<p>下面是app/config中相关的配置</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
        //默认session配置,必需加载get_cookie服务，否则无效
        session: {
            type: "cookie",//可选值有mongo, cookie, memory
            sid:   "mass_sid",//sessionID
            table: "sessions",//这个type=mongo时，决定存放在哪个集合中
            life: 60 * 10 //生命周期，单位ms
        },
</pre>
<p>使用。只能在action与模板中使用，操作目标为flow.session</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
   flow.session.aaa = "xxx"
   delete flow.session.aaa
   flow.session.bbb = ["11","22"]
</pre>
<p>在类型为cookie的情况下，你大可以把它当成一个JSON，意味着session的成员不能为函数，同时你也要注意长度不能大于4k</p>
<p>在类型为memory或mongo的情况下，成员是任意的，大小理论上也不受限。<p>
<p>session是用于在action中交互数据，因此生命周期不宜设得很长。</p>
<h3>flash相关</h3>


<p>这个flash与Adobe/Macromedia Flash半毛钱关系也没有</p>
<p>flash是基于session的消息传送机制，我们可以把消息放到flash中并在下一个action访问到它们。</p>
<p>flash的通常是使用重定向后,确保消息可用到下一个页面呈现。比如一个表单提交后,我们在跳转后的新页面显示成功消息,
    而不用在先前的页面让用户等待几秒钟才跳转.</p>
<p>此机制的版权是属于rails的(向rails致敬!)，它最初定义消息应该有四种notice, warning, message，error</p>
<p>使用。只能在action与模板中使用，视参数的个数决定是写入或读出。
    读出的同时还做删除操作，什么参数也没有，直接把session.flash这个对象抛给你</p>
<pre class="brush:javascript;gutter:false;toolbar:false">
//两个或两个以上是添加消息
flow.flash('info', 'email sent');
flow.flash('error', 'email delivery failed');
flow.flash('info', 'email re-sent');
// => 2
//一个是返回这个类型的所有消息,并从session中删除它们
flow.flash('info');
// => ['email sent', 'email re-sent']

flow.flash('info');
// => []
//没有参数就返回一个对象,里面分门别类放置好各消息
flow.flash();
// => { error: ['email delivery failed'], info: [] }
</pre>
