p {
    text-indent:2em;
    font-size:14px;
}

.clear {
    clear:both;
}

.hide {
    display:none;
}

.show {
    display:block;
}

h3 {
    border-bottom-width:0 !important;
}

.title {
    color:#ff7200;
    font-size:23px;
    line-height:28px;
}

.notice {
    color:#99c;
}

.red {
    color:red;
}

h4.subject {
    border:none !important;
    color:#EE862C;
}

.filament_table {
    border-collapse:collapse !important;
    border-top:1px solid #A9EA00;
    border-left:1px solid #C1DAD7;
    table-layout:fixed;
}

.filament_table thead th {
    background:#A9EA00;
    color:#FCDE6A;
    border-bottom:1px solid #C1DAD7;
    border-right:1px solid #C1DAD7;
    padding:2px 5px;
}

.filament_table tbody td,.filament_table tbody th {
    border-bottom:1px solid #C1DAD7;
    border-right:1px solid #C1DAD7;
    padding:2px 5px;
    color:#76C2C3;
}
.filament_table tfoot td {
    border-bottom:1px solid #C1DAD7;
    border-right:1px solid #C1DAD7;
    background:#A9EA00;
    color:#FCDE6A;
    font-size:12px;
    padding:0;
}

.filament_table tbody td a{
    text-decoration:none;
    color:#76C2C3;
}
.filament_table tbody tr:nth-child(even) {
    background:#F7FBFF;
}
.pagination {
    padding:1px 20px;
    margin:0;
}

.pagination a {
    padding: 2px 5px;
    margin: 2px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #FCDE6A;
    font-weight:bolder;
}
.pagination input {
    color:#A9EA00;
    width:20px;
}
.pagination a:hover, .pagination a:active {
    border: 1px solid #D1EB8D;
    background:#D1EB8D;
    color:#f06e10;
}
.pagination span.current {
    padding: 2px 5px;
    margin: 2px;
    border: 1px solid #3F8066;
    font-weight: bold;
    background-color: #3F8066;
    color: #FFF;
}

.pagination span.disabled {
    padding: 2px 5px;
    margin: 2px;
    border: 1px solid #D1EB8D;
    color: #ddd;
}
.grey {
    background:#f8f8f8;
}
.yellow {
    background:#ffc;
}
.even {
    background:#f7fbff;
}
.hover {
    background:#CCE593 !important;
}

    .blue_table {
      border: 1px solid #4d6366;
      border-collapse: collapse;
      width: 90%;
      background:#B0E0E6;
    }
    .blue_table td ,.blue_table thead th{
      border: 1px solid #4d6366;
    }

    .blue_table thead th{
      background: #8080c0;
      color:#fff;
      font-weight: normal;
    }

.entry_table {
    background: #FFFFFF;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: left;
    width:90%;
}

.entry_table .active td {
    color: #369;
    border-bottom-color: #cdc;
}

.entry_table th {
    border-bottom: 2px solid #A4C617;
    color: #7A8E12;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

.entry_table td {
    border-bottom: 1px solid #cda;
    color: #7A8E12;
    padding: 6px 8px;
}