<% set_title("首页") %>
<% set_layout("layout.html") %>
<% push_js("/scripts/mass.js") %>
<% push_css("/styles/doc/common.css") %>
<h2>Welcome to the newland </h2>
<style>
    .aaa{
        width:200px;
        background:red;
        height:200px;
        overflow:hidden;
        position:relative;
    }
    .scrollbar{
        width:10px;
        background:green;
        height:180px;
        display:none;
        position:absolute;
        top:0px;
        right:0px;
    }
</style>
<script>
  
</script>
<h1>UUUUUUUUUUUUUUUU</h1>
<div class="aaa">
    <% for(var i = 0; i< 100; i++){ %>
    <p>XXXXXXXXXXX</p>
    <% } %>
    <div class="scrollbar">

    </div>
</div>
